/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

  body {
  }

   html {
    color: #FFF;
    font-size: 1em;
    line-height: 1.4;
    background: #0f131f;
    font-family: 'Montserrat', sans-serif;
  /*  min-width:1039px;*/
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

header {
  border-bottom:1px solid #1b2237;
  padding:.5rem 15px;
  margin-bottom:0px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1.7em;
  font-weight: 700;
  display:inline;
}

.timestamp_container {
  display: inline;
  padding-top:15px;
  font-size:0.8rem;
  color: #eea200;
}

#timestamp {
  display: inline;
  font-weight: ;
  color:white;
}

.powered {
  font-size:0.8rem;
  color:white;
  font-weight: 700;
  padding:0.8rem 0 0.5rem;
  float: right;
  display: inline;
}

.powered a {
  color:white;
  text-decoration:none;
}

.powered a:hover {
  text-decoration: underline;
}

.powered span {
  color:#eea200;
}

.container {
  padding-left:15px;
  padding-right:15px;
  display: flex;
  flex-wrap: wrap;
}

.chart_container {
  order:1;
  padding:0 15px;
  flex: 1 0 auto;
  width:95%;
  padding-top:30px;
}


.table_container {
  order:2;
  padding-left:15px;
  padding-right:15px;
  padding-top:20px;
  width:95%;
}

.table {
  width:100%;
  float:left;
}

.ticker_container {
  margin:15px;
  width:46%;
  float:left;
  flex: 1 0 auto;
  border:1px solid #1b2237;

}

.cumulative_container {
  background:#1b2237;
}

.ticker_header {
  font-weight:bold;
  padding:15px;
  color:white;
}

.ticker_data {
  padding:0 15px 15px;
  display:flex;
  justify-content: space-between;
}

.ticker_data_left {
  font-family: inconsolata;
  font-size:14px;
}

.ticker_data_right {
  font-family: inconsolata;
  font-size:14px;
  text-align:right;
}

.data_label {
  font-size:12px;
  font-weight:200;
  color:#eea200;
}

.data {
  font-size:1.3em;
  font-weight:100;
  padding-bottom:5px;
}

.red {
  color:#dc4460;
}

.green {
  color: #569a5e;
}

.table_data {
  margin:15px 15px 60px;
  float:left;
  font-family: inconsolata;
  background: #1b2237;
}

.table_header {
  font-size:12px;
  font-weight:200;
  color:#eea200;
  font-family: inconsolata !important;
}

.table_data_row {
  width:100%;
  float:left;
  font-size:1em;
  font-weight:100;
  border-bottom:1px solid #0f131f;
  
}

.table_data_large {
  width:15%;
  display: block;
  float:left;
  text-align:right;
  padding:5px 0;
}

.table_data_crypto {
  width:5%;
  display:block;
  float:left;
  text-align: center;
  padding:5px;
  font-weight: bold;
  background: #eea200;
  color:#0f131f;
  font-family: 'Montserrat', sans-serif;
}

#treemap {
  float:left;
  width:100%;
}

#container, #container2, #container3 {
  margin-top:10px;
  width:100%;
  float:left;
}


h2 {
  font-weight: 700;
  color:#eea200;
  font-size:1.2em;
  padding-left:15px;
  flex: 0 0 100%; 
}


footer {
  padding-left:15px;
  padding-right:15px;
  color:rgba(81,81,81,1.00);
  font-size:13px;
  padding-top:100px;
  padding-bottom:15px;
}

footer .creds {
  text-align: right;
  padding-bottom:5px;
}



 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media all and (min-width: 1060px) {
  #treemap {
    float:left;
    margin-top:20px;
    width:50%;
  }

  #container, #container2, #container3 {
    margin-top:20px;
    width:50%;
    float:left;
  }
}


@media all and (min-width: 1661px) {
  .chart_container {
    width:30%;
  }
  .table_container {
    width:60%;
  }
  
  #treemap {
    margin-top: 20px;
    width:100%;
  }

  #container, #container2, #container3 {
    width:100%;
    margin-top:60px;
  }
}


